<div class="register-box">
  <div class="register-logo">
    <a role="button">
      <b>Unified System of Academic Management</b>
    </a>
  </div>
  <!-- /.register-logo -->
  <div class="register-box-body">
    <p class="login-box-msg">Primeiro acesso no sistema</p>

    <form [formGroup]="formRegister" (ngSubmit)="submit()">
      <div class="form-group has-feedback">
        <input formControlName="registroAcademico" autofocus type="text" id="txt-registro-academico" class="form-control" placeholder="Registro Acadêmico" title="Campo obrigatório">
        <span class="glyphicon glyphicon-book form-control-feedback"></span>
        <div class="warning" *ngIf="!formRegister.controls.registroAcademico.valid && formRegister.controls.registroAcademico.touched">
          Registro acadêmico inválido
        </div>
      </div>
      <div class="form-group has-feedback">
        <input formControlName="usuario" type="text" id="txt-usuario" class="form-control" placeholder="Usuário" title="Campo obrigatório">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div class="warning" *ngIf="!formRegister.controls.usuario.valid && formRegister.controls.usuario.touched">
          Usuário inválido
        </div>
      </div>
      <div class="form-group has-feedback">
        <input formControlName="email" type="email" id="txt-email" class="form-control" placeholder="E-mail" title="Campo obrigatório">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="warning" *ngIf="!formRegister.controls.email.valid && formRegister.controls.email.touched">
          E-mail inválido
        </div>
      </div>
      <div class="form-group has-feedback">
        <input formControlName="senha" type="password" id="txt-senha" class="form-control" placeholder="Senha" title="Campo obrigatório">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="warning" *ngIf="!formRegister.controls.senha.valid && formRegister.controls.senha.touched">
          Senha inválida
        </div>
      </div>
      <div class="form-group has-feedback">
        <input formControlName="confirmarSenha" type="password" id="txt-confirmar-senha" class="form-control" placeholder="Confirmar senha" title="Campo obrigatório">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <div class="warning" *ngIf="!formRegister.controls.confirmarSenha.valid && formRegister.controls.confirmarSenha.touched">
          Confirmar senha inválida
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <!-- Termos de uso -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" id="btn-cadastrar" class="btn btn-primary btn-block btn-flat" [disabled]="!formRegister.valid">Cadastrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a [routerLink]="['/login']" class="text-center">Já sou cadastrado no sistema</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->