<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>Unified System of Academic Management</b></a>
  </div>
  <!-- /.register-logo -->
  <div class="register-box-body">
    <p class="login-box-msg">Primeiro acesso no sistema</p>

    <form action="#" method="post">
      <div class="form-group has-feedback">
        <input autofocus #registroAcademico type="text" id="txt-registro-academico" class="form-control" placeholder="Registro Acadêmico">
        <span class="glyphicon glyphicon-book form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input #usuario type="text" id="txt-usuario" class="form-control" placeholder="Usuário">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input #email type="email" id="txt-email" class="form-control" placeholder="E-mail">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input #senha type="password" id="txt-senha" class="form-control" placeholder="Senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input #confirmarSenha type="password" id="txt-confirmar-senha" class="form-control" placeholder="Confirmar senha">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <!-- Termos de uso -->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button (click)="cadastrar(registroAcademico.value, usuario.value, email.value, senha.value, confirmarSenha.value)" type="button" id="btn-cadastrar" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a [routerLink]="['/login']" class="text-center">Já sou cadastrado no sistema</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->