<!-- Default box 1 -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Disciplinas Matrículadas</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    TABELA DAS DISCIPLINAS COM INFORMAÇÕES DO ALUNO
  </div>
  <!-- /.box-body -->
</div>

<!-- Default box 2 -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Entrega de Atividades</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    TABELA COM ENTREGA DE ATIVIDADES ACADÊMICAS
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->