<!-- Site wrapper -->
<div class="wrapper">

  <usam-header></usam-header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <usam-left-side-menu></usam-left-side-menu>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <usam-home></usam-home>
  </div>
  <!-- /.content-wrapper -->

  <usam-footer></usam-footer>

  <!-- Control Sidebar -->
  <usam-right-side-menu></usam-right-side-menu>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->