<!-- Site wrapper -->
<div class="wrapper">

  <usam-header-aluno></usam-header-aluno>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <usam-menu-aluno></usam-menu-aluno>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <usam-home-aluno></usam-home-aluno>
  </div>
  <!-- /.content-wrapper -->

  <usam-footer></usam-footer>
</div>
<!-- ./wrapper -->

<!-- GUIA DE CUSTOMIZAÇÃO AdminLte: https://rstudio.github.io/shinydashboard/appearance.html -->