<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Área Institucional </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box 1 -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Turmas</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      TABELA COM TODAS AS TURMAS
    </div>
    <!-- /.box-body -->
  </div>

  <!-- Default box 2 -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Disciplinas</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      TABELA COM TODAS AS DISCIPLINAS
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

  <!-- Table -->
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Alunos</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-hover dataTable" role="grid">
              <thead>
                <tr>
                  <th rowspan="1" colspan="1">Registro Acadêmico</th>
                  <th rowspan="1" colspan="1">Nome</th>
                  <th rowspan="1" colspan="1">Curso</th>
                  <th rowspan="1" colspan="1">Turno</th>
                  <th rowspan="1" colspan="1">Turma</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let aluno of listAlunos">
                  <td>{{aluno.ra}}</td>
                  <td>{{aluno.nome}}</td>
                  <td>{{aluno.curso}}</td>
                  <td>{{aluno.turno}}</td>
                  <td>{{aluno.turma}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">Registro Acadêmico</th>
                  <th rowspan="1" colspan="1">Nome</th>
                  <th rowspan="1" colspan="1">Curso</th>
                  <th rowspan="1" colspan="1">Turno</th>
                  <th rowspan="1" colspan="1">Turma</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>

</section>
<!-- /.content -->