td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

td button {
    width: 50%;
}

div {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.th-table-opcoes{
    width: 25%;
}

.modal-backdrop {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #000000 !important;
  }