<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Professores</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>

    <!-- search -->
    <div class="sidebar-form">
      <div class="input-group">
        <input [(ngModel)]="query" (keyup)="searchProfessores()" class="form-control" placeholder="Pesquisar..." type="text">
        <span class="input-group-btn">
          <button (click)="searchProfessores()" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <!-- /.search -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-hover dataTable" role="grid">
            <thead>
              <tr>
                <th rowspan="1" colspan="1">Registro Acadêmico</th>
                <th rowspan="1" colspan="1">Nome</th>
                <th rowspan="1" colspan="1">E-mail</th>
                <th rowspan="1" colspan="1">Telefones</th>
                <th rowspan="1" colspan="1">Endereço</th>
                <th rowspan="1" colspan="1">Disciplinas Lecionadas</th>
                <th rowspan="1" colspan="1">Remover</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let professor of listProfessores">
                <td>{{professor?.ra}}</td>
                <td>{{professor?.nome}}</td>
                <td>{{professor?.email}}</td>
                <td>{{professor?.telefones}}</td>
                <td>{{professor?.endereco}}</td>
                <td>{{professor?.disciplinasLecionadas}}</td>
                <td>
                  <button type="button" class="btn btn-block btn-danger">Remover</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Registro Acadêmico</th>
                <th rowspan="1" colspan="1">Nome</th>
                <th rowspan="1" colspan="1">E-mail</th>
                <th rowspan="1" colspan="1">Telefones</th>
                <th rowspan="1" colspan="1">Endereço</th>
                <th rowspan="1" colspan="1">Disciplinas Lecionadas</th>
                <th rowspan="1" colspan="1">Remover</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->